<%- include("includes/header"); %>

<div class="container">
    <h3 class="titulo-form">Editar Usuário</h3>
    <hr>

    <form method="POST" action="/users/update">
        <input type="hidden" name="id" value="<%= user.id %>">
        <div class="mb-3">
          <label for="name" class="form-label">Nome</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>">
        </div>
        <input type="hidden" name="active" value="0"> <!-- Campo hidden para garantir o valor 0 -->
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="active" name="active" value="1" <%= user.active ? 'checked' : '' %>>
          <label class="form-check-label" for="active">Ativo</label>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/users" class="btn btn-secondary">Cancelar</a>
      </form>
</div>

<%- include("includes/footer"); %>
